<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACljAye-zz3gJhO-fFm2nNxw7jKRW7U5E</string>
	<key>GCM_SENDER_ID</key>
	<string>701910420953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LiveWorkOut.MyFacetime</string>
	<key>PROJECT_ID</key>
	<string>myfacetime-1b251</string>
	<key>STORAGE_BUCKET</key>
	<string>myfacetime-1b251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701910420953:ios:2d49e473d04867dbee5dc8</string>
</dict>
</plist>